.footer {
    background-color: var(--footer-color);
    padding-top: 45px;
    padding-bottom: 45px;
}

.footer__container {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.footer__container-logo {
    display: flex;
    align-items: center;
    gap: 19px;
    padding-right: 301px;
}

.footer__container-logo-copy {
    font-weight: 500;
    font-size: 12px;
    line-height: 141%;
    color: var(--white-color);
    width: 127px;
}

.footer__container-name {
    display: block;
    font-weight: 500;
    font-size: 12px;
    line-height: 141%;
    color: var(--white-color);
    padding-right: 310px;
}

.footer__container-contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__container-contacts-number {
    font-size: 23px;
    text-align: center;
    color: var(--white-color);
    margin-bottom: 4px;
}

.footer__container-contacts-btn {
    color: var(--white-color);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    text-align: center;
}

@media (max-width: 1100px) {
    .footer__container {
        justify-content: space-between;
    }

    .footer__container-logo {
        padding-right: 0;
    }

    .footer__container-name {
        padding-right: 0;
    }
}

@media (max-width: 600px) {
    .footer__container-logo {
        width: 30px;
        height: 30px;
    }

    .footer__container-logo-copy {
        font-size: 8px;
        width: 87px;
    }

    .footer__container {
        padding-bottom: 25px;
    }

    .footer__container-name {
        background-color: #2A2C3F;
        width: 100%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        font-size: 12px;
        text-align: center;
        padding: 15px 0;
    }

    .footer__container-contacts {
        width: 26px;
        height: 24px;
        background-image: url(../image/Phone.svg);
        background-repeat: no-repeat;
    }

    .footer__container-contacts-number {
        display: none;
    }

    .footer__container-contacts-btn {
        display: none;
    }
}